:root {
    --border-color: black;
    --main-color: darkblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--main-color);
    padding: 10px;
}

/* This makes the navigation buttons have white text, in order to stand out against the blue background. */

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--main-color);
    margin: 15px;
}

main {
    max-width: 500px;
}

main img {
    width: 150px;
    height: auto;
    margin: 15px;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    margin: 15px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside h2 {
    color: #eee;
    position: absolute;
    top: 110px;
    left: 135px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: 1px solid var(--border-color);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #fee;
    color: #333;
}